body {
  font-family: "Inter";
  background-color: white;
  color: black;
  margin: 5em;
  padding: 2em;
}

.flex-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
}

.flex-container > div {
  width: 200px;
  margin: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}

h1 {
  font-size: 50px;
  padding: 0px 0px;
}

h2 {
  font-size: 35px;
  padding: 0px 0px;
}

.card1 {
  box-shadow: 0 4px 8px 0 rgba(151, 150, 150, 0.2);
  border-radius: 5px;
  margin: 2em 2em;
  padding: 2em 2em;
  border: 2px solid rgb(175, 174, 174);
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

.card4 {
  box-shadow: 0 4px 8px 0 rgba(184, 182, 182, 0.2);
  border-radius: 5px;
  margin: 2em 2em;
  padding: 2em 2em;
  border: 2px solid rgb(38, 59, 243);
  border-radius: 10px;
  text-align: center;
  background-color: white;
}

h3 {
  color: red;
}

#rotate {
  margin-top: 570px;
  margin-left: 620px;
  position: absolute;
  transform: rotateZ(-20deg);
}

.grey {
  margin-left: -60px;
  position: absolute;
  float: left;
  width: 180px;
  height: 140px;
  background-color: rgb(194, 191, 191);
  border-radius: 15px;
}
